html, body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  cursor: default;
}
.content {
  height: calc(100% - 264px);
}
.top-nav {
  height: 100px;
}
.title {
  font-size: 50px;
  line-height: 100px;
}
.navbar, .tabs, .tab {
  overflow: hidden;
}
a.btn {
  width: 76px;
}
.learn {
  width: 550px;
  height: 450px;
  border: 1px dashed #ef5350;
  margin: 0 auto;
}

#footer {
  height: 10vh;
}

#container {
  min-height: 90vh;
}

#translatebox:focus {
  border-bottom: 1px solid #ef5350;
  -webkit-box-shadow: 0 1px 0 0 #ef5350;
  -moz-box-shadow: 0 1px 0 0 #ef5350;
  box-shadow: 0 1px 0 0 #ef5350;
}
#translatebox:focus + label {
  color: #ef5350;
}
.input-field .prefix.active {
  color: #ef5350;
}

.chipPractice {
  z-index: 2;
  position: relative;
  top: 45px;
}

.chipLearn {
  z-index: 2;
  position: relative;
  top: -5px;
}

#letterdiv {
  position: relative;
  z-index: 2;
  color: black;
  height: 0;
}

#response {
  z-index: 3;
  position: relative;
  color: white;
  right: 55px;
  height: 0;
  top: 0;
}

#response2 {
  position: relative;
  z-index: 2;
  top: 110px;
  color: white;
  height: 0;
}

.mybox {
  width: 200px;
  height: 200px;
  border: 3px solid #ef5350;
  z-index: 2;
  position:relative;
  top:270px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mybox2 {
  width: 200px;
  height: 200px;
  border: 3px solid #ef5350;
  z-index: 3;
  position: relative;
  top: 155px;
  left: 42%;
  transform: translate(-50%, -50%)
}

#forVid1 {
  z-index: 1;
  position: relative;
  top: -249px;
  right: 75px
}

#forVid2 {
  position:relative;
  top: -133px;
}

.practice-btn {
  width: 109px;
}

canvas {
  position: relative;
}